body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  flex: 1;
  border: 2px dashed red;
}

.githubAdder {
  flex: 3;
  border: 2px solid black;
}

.cardList{
  flex: 5;
  border: 2px dotted purple
}

.Card{
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
}